
<body>
  <header>
      <div class="row">
          <div class="logo" >
            <img src="../assets/logo_white.png">
          </div>
          <nav class="main-nav">
            <li class="normal"><a routerLink="/home"> HOME </a></li>
            <li class="normal"><a routerLink="/about"> ABOUT </a></li>
            <li class="normal"><a routerLink="/projects"> PROJECTS </a></li>
            <li class="normal"><a routerLink="/services"> SERVICES </a></li>
            <li class="normal"><a routerLink="/contact"> CONTACT </a></li>
          </nav>
        </div>
  </header>
</body>
<router-outlet></router-outlet>